*.sif
.nextflow*
*.log*

# Created during pipeline
test/*.fai

work
aligned
busco
containers/singularity
containers/docker
containers/sources
containers/downloads
containers/rmlib
containers/tmp
.nextflow
run
