manifest {
  name = 'panann'
  description = 'Predict genes for a population of genomes.'
  homePage = 'https://github.com/darcyabjones/panann'
  author = 'Darcy Jones'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.31.1'
  version = "v0.0.1"
}


// Default command line parameters
params {
  help = false
  tracedir = "trace"
  outdir = "results"
}

profiles {
  standard {
    includeConfig "conf/base.config"
  }
  nimbus {
    includeConfig "conf/nimbus.config"
  }
  pawsey_zeus {
    includeConfig "conf/pawsey_zeus.config"
  }
  docker {
    includeConfig "conf/docker.config"
  }
  singularity_indiv {
    includeConfig "conf/singularity_indiv.config"
  }
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']
process.errorStrategy = 'finish'

timeline {
  enabled = true
  file = "${params.outdir}/${params.tracedir}/qcflow_timeline.html"
}

report {
  enabled = true
  file = "${params.outdir}/${params.tracedir}/qcflow_report.html"
}

trace {
  enabled = true
  file = "${params.outdir}/${params.tracedir}/qcflow_trace.txt"
}
