docker {
    enabled = true
    temp = "auto"
    sudo = true
}

process {
    withLabel: busco {
        container = "darcyabjones/busco:panann-${manifest.version}"
    }
    withLabel: spaln {
        container = "darcyabjones/spaln:panann-${manifest.version}"
    }
    withLabel: augustus {
        container = "darcyabjones/star:panann-${manifest.version}"
    }
    withLabel: star {
        container = "darcyabjones/star:panann-${manifest.version}"
    }
    withLabel: gmap {
        container = "darcyabjones/star:panann-${manifest.version}"
    }
}
