singularity.runOptions = '-B $MYGROUP -B $MYSCRATCH --pwd $(pwd)'
slurm_account = 'fl3'
executor.$slurm.exitReadTimeout = '30m'

process {
  // These are default values used for anything not specified with a label.
  cpus = 1
  memory = 1.GB

  executor = 'slurm'
  time = '24h'
  queue = 'workq'
  clusterOptions = "--account=$slurm_account"
  queueSize = 96
  errorStrategy = 'finish'

  module = 'nextflow/19.01.0.5050-bin:singularity/3.3.0'

  withLabel: download {
    errorStrategy = "retry"
    cpus = 1
    memory = 1.GB
    maxRetries = 5
  }

  withLabel: small_task {
    cpus = 1
    memory = 4.GB
  }

  withLabel: bigmem_task {
    cpus = 2
    memory = 46.GB
  }

  withLabel: medium_task {
    cpus = 4
    memory = 8.GB
  }

  withLabel: biggish_task {
    cpus = 8
    memory = 16.GB
  }

  withLabel: big_task {
    cpus = 28
    memory = 124.GB
  }
}

