singularity {
    enabled = true
}

process {
    withLabel: busco {
        container = "containers/singularity/busco.sif"
    }
    withLabel: spaln {
        container = "containers/singularity/spaln.sif"
    }
    withLabel: augustus {
        container = "containers/singularity/augustus.sif"
    }
    withLabel: star {
        container = "containers/singularity/star.sif"
    }
    withLabel: gmap {
        container = "containers/singularity/gmap.sif"
    }
    withLabel: samtools {
        container = "containers/singularity/htslib.sif"
    }
    withLabel: stringtie {
        container = "containers/singularity/stringtie.sif"
    }
    withLabel: codingquarry {
        container = "containers/singularity/codingquarry.sif"
    }
    withLabel: signalp {
        container = "containers/singularity/signalp.sif"
    }
    withLabel: deepsig {
        container = "containers/singularity/deepsig.sif"
    }
    withLabel: trinity {
        container = "containers/singularity/trinity.sif"
    }
    withLabel: pasa {
        container = "containers/singularity/pasa.sif"
    }
    withLabel: python3 {
        container = "containers/singularity/python3.sif"
    }
    withLabel: posix {
        container = "containers/singularity/base.sif"
    }
    withLabel: download {
        container = "containers/singularity/base.sif"
    }
    withLabel: genemarkes {
        container = "containers/singularity/genemarkes.sif"
    }
    withLabel: braker {
        container = "containers/singularity/braker.sif"
    }
    withLabel: mmseqs {
        container = "containers/singularity/mmseqs.sif"
    }
    withLabel: gemoma {
        container = "containers/singularity/gemoma.sif"
    }
    withLabel: genometools {
        container = "containers/singularity/genometools.sif"
    }
    withLabel: seqrenamer {
        container = "containers/singularity/seqrenamer.sif"
    }
    withLabel: gffpal {
        container = "containers/singularity/gffpal.sif"
    }
    withLabel: aegean {
        container = "containers/singularity/aegean.sif"
    }
    withLabel: exonerate {
        container = "containers/singularity/exonerate.sif"
    }
    withLabel: evm {
        container = "containers/singularity/evm.sif"
    }
}

