singularity {
    enabled = true
}

process {
    withLabel: busco {
        container = "containers/singularity/busco.sif"
    }
    withLabel: spaln {
        container = "containers/singularity/spaln.sif"
    }
    withLabel: augustus {
        container = "containers/singularity/augustus.sif"
    }
    withLabel: star {
        container = "containers/singularity/star.sif"
    }
    withLabel: gmap {
        container = "containers/singularity/gmap.sif"
    }
    withLabel: samtools {
        container = "containers/singularity/htslib.sif"
    }
    withLabel: stringtie {
        container = "containers/singularity/stringtie.sif"
    }
    withLabel: codingquarry {
        container = "containers/singularity/codingquarry.sif"
    }
    withLabel: signalp {
        container = "containers/singularity/signalp.sif"
    }
    withLabel: trinity {
        container = "containers/singularity/trinity.sif"
    }
    withLabel: pasa {
        container = "containers/singularity/pasa.sif"
    }
}

