singularity {
    enabled = true
}

process {
    withLabel: busco {
        container = "containers/singularity/busco.sif"
    }
    withLabel: spaln {
        container = "containers/singularity/spaln.sif"
    }
    withLabel: augustus {
        container = "containers/singularity/augustus.sif"
    }
}

